In [1]:
import pandas as pd
import random
from datetime import datetime, timedelta

# Parameters
cities = ["Lahore", "Karachi", "Islamabad", "Peshawar", "Quetta"]
start_date = datetime(2023, 1, 1)
num_days = 200  # 200 days * 5 cities = 1000 rows per file

dates = [start_date + timedelta(days=i) for i in range(num_days)]

# Weather data
weather_data = []
for date in dates:
    for city in cities:
        t_min = random.randint(5, 20)
        t_max = t_min + random.randint(5, 15)
        precipitation = round(random.uniform(0, 20), 1) if random.random() < 0.3 else 0.0
        wind_speed = round(random.uniform(5, 25), 1)
        weather_data.append([date.strftime("%Y-%m-%d"), city, t_max, t_min, precipitation, wind_speed])

df_weather = pd.DataFrame(weather_data, columns=[
    "date", "city", "temperature_max", "temperature_min", "precipitation_mm", "wind_speed_kmph"
])
df_weather.to_csv("weather_data.csv", index=False)

# Energy usage data
energy_data = []
for date in dates:
    for city in cities:
        res_kwh = random.randint(12000, 18000)
        com_kwh = random.randint(6000, 12000)
        ind_kwh = random.randint(10000, 16000)
        energy_data.append([date.strftime("%Y-%m-%d"), city, res_kwh, com_kwh, ind_kwh])

df_energy = pd.DataFrame(energy_data, columns=[
    "date", "city", "residential_usage_kwh", "commercial_usage_kwh", "industrial_usage_kwh"
])
df_energy.to_csv("energy_usage.csv", index=False)

print("✅ Files saved: weather_data.csv and energy_usage.csv")

✅ Files saved: weather_data.csv and energy_usage.csv

In [6]:
#avg temp of each day
import pandas as pd
df=pd.read_csv("weather_data.csv")
df['avgtemp']=(df['temperature_max']+df['temperature_min'])/2
print(df['avgtemp'].head(5))

0    18.5
1    21.5
2    15.5
3    13.5
4    17.0
Name: avgtemp, dtype: float64

In [15]:
# get hottest and coldest rows for each city
import pandas as pd
df = pd.read_csv('weather_data.csv')
hotest = df.groupby('city')['temperature_max'].agg(['max'])
coldrest = df.groupby('city')['temperature_min'].agg(['min'])
print(hotest)
print(coldrest)

           max
city
Islamabad   35
Karachi     35
Lahore      35
Peshawar    35
Quetta      35
           min
city
Islamabad    5
Karachi      5
Lahore       5
Peshawar     5
Quetta       5

In [25]:
# rainy days by cities
import pandas as pd
df = pd.read_csv('weather_data.csv')
rainy_days = df[df['precipitation_mm'] > 0]
rainy = rainy_days.groupby('city').size()
print(rainy)

city
Islamabad    55
Karachi      55
Lahore       52
Peshawar     54
Quetta       60
dtype: int64

In [30]:
#Which city has the highest average wind speed?
import pandas as pd
df = pd.read_csv('weather_data.csv')
highest_avg_wind = df.groupby('city')['wind_speed_kmph'].mean().sort_values(ascending=False).head(1)

print(highest_avg_wind)

city
Lahore    15.382
Name: wind_speed_kmph, dtype: float64

In [38]:
#What is the total energy usage (res + com + ind) per city?
import pandas as pd
df=pd.read_csv('weather_data.csv')
dff=pd.read_csv('energy_usage.csv')
dff['total']=dff['residential_usage_kwh']+dff['commercial_usage_kwh']+dff['industrial_usage_kwh']
energyt=dff.groupby('city')['total'].sum()
print(energyt)

city
Islamabad    7388859
Karachi      7416265
Lahore       7436577
Peshawar     7402353
Quetta       7388768
Name: total, dtype: int64

In [45]:
#Which day had the highest total energy usage (res + com + ind) in Lahore?
import pandas as pd
df=pd.read_csv('energy_usage.csv')
df['date']=pd.to_datetime(df['date'])
df['day']=df['date'].dt.to_period('D')
df=df[df['city']=='Lahore']
df['total']=df['residential_usage_kwh']+df['commercial_usage_kwh']+df['industrial_usage_kwh']
ht=df.groupby(['day','city'])['total'].sum().sort_values(ascending=False).head(1)
print(ht)

day         city
2023-06-23  Lahore    44159
Name: total, dtype: int64

In [50]:
#How many days had temperature_min below 10°C in each city?

import pandas as pd
df=pd.read_csv('weather_data.csv')
df['date']=pd.to_datetime(df['date'])
df['day']=df['date'].dt.to_period('D')
df=df[df['temperature_min']<10]
ht=df.groupby(['city','day'])['temperature_min'].size()
print(ht)

city       day
Islamabad  2023-01-01    1
           2023-01-05    1
           2023-01-09    1
           2023-01-13    1
           2023-01-14    1
                        ..
Quetta     2023-06-29    1
           2023-07-06    1
           2023-07-13    1
           2023-07-17    1
           2023-07-18    1
Name: temperature_min, Length: 320, dtype: int64

In [51]:
#What is the total energy consumption across all cities for the dataset?
import pandas as pd
df=pd.read_csv('energy_usage.csv')
df['total']=df['residential_usage_kwh'].sum()+df['commercial_usage_kwh'].sum()+df['industrial_usage_kwh']
et=df.groupby('city')['total'].sum()
print(et)
#

city
Islamabad    4799886209
Karachi      4799918160
Lahore       4799932753
Peshawar     4799895151
Quetta       4799917046
Name: total, dtype: int64

In [52]:
#On which days did all cities experience zero precipitation?

import pandas as pd
df=pd.read_csv('weather_data.csv')
df['date']=pd.to_datetime(df['date'])
df['day']=df['date'].dt.to_period('D')
df=df[df['precipitation_mm']==0]
ht=df.groupby(['city','day'])['precipitation_mm'].size()
print(ht)

city       day
Islamabad  2023-01-01    1
           2023-01-02    1
           2023-01-03    1
           2023-01-04    1
           2023-01-05    1
                        ..
Quetta     2023-07-12    1
           2023-07-13    1
           2023-07-14    1
           2023-07-15    1
           2023-07-16    1
Name: precipitation_mm, Length: 724, dtype: int64

intermidiate

In [56]:
#Merge both datasets and calculate the average energy usage on rainy vs non-rainy days
import pandas as pd
dt=pd.read_csv('weather_data.csv')
dff=pd.read_csv('energy_usage.csv')
df=pd.merge(df,dff,on=['city','date'])
df['rainyday']=df['precipitation_mm'].apply(lambda x:'rainy'if x>0 else 'non-rainy')
df['total']=df['residential_usage_kwh']+df['commercial_usage_kwh']+df['industrial_usage_kwh']
ht=df.groupby(['rainyday'])['total'].mean()
print(ht)

rainyday
non-rainy    36993.669890
rainy        37135.525362
Name: total, dtype: float64

In [58]:
import pandas as pd
weather = pd.read_csv('weather_data.csv')
energy = pd.read_csv('energy_usage.csv')
df = pd.merge(weather, energy, on=['city', 'date'])
df['avg_temp'] = (df['temperature_max'] + df['temperature_min']) / 2
correlations = df.groupby('city').apply(lambda x: x['avg_temp'].corr(x['residential_usage_kwh']))
print(correlations)

city
Islamabad    0.054544
Karachi     -0.056048
Lahore      -0.213809
Peshawar     0.049876
Quetta      -0.176788
dtype: float64

/tmp/ipython-input-722497242.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  correlations = df.groupby('city').apply(lambda x: x['avg_temp'].corr(x['residential_usage_kwh']))

In [60]:
#Show 7-day rolling averages of residential energy usage for Karachi.
import pandas as pd
df=pd.read_csv('energy_usage.csv')
df['date']=pd.to_datetime(df['date'])
df['day']=df['date'].dt.to_period('D')
df=df[df['city']=='Karachi']
df['residential_usage_kwh']=df['residential_usage_kwh'].rolling(window=7).mean()
print(df['residential_usage_kwh'])

1               NaN
6               NaN
11              NaN
16              NaN
21              NaN
           ...
976    14820.714286
981    14277.857143
986    14726.571429
991    14839.000000
996    14911.428571
Name: residential_usage_kwh, Length: 200, dtype: float64

In [61]:
import pandas as pd
df=pd.read_csv('energy_usage.csv')
df['date']=pd.to_datetime(df['date'])
df['day']=df['date'].dt.to_period('D')
df=df[df['city']=='Islamabad']
df=df.groupby('day')['commercial_usage_kwh'].sum().sort_values(ascending=False).head(5)
print(df)

day
2023-05-25    11998
2023-04-04    11975
2023-03-09    11966
2023-01-07    11907
2023-04-07    11871
Freq: D, Name: commercial_usage_kwh, dtype: int64

In [62]:
#Which city had the largest fluctuation in daily wind speed? (max - min)
import pandas as pd
df=pd.read_csv('weather_data.csv')
df=df.groupby('city')['wind_speed_kmph'].agg(['max','min'])
df['fluctuation']=df['max']-df['min']
print(df['fluctuation'].sort_values(ascending=False).head(1))

city
Islamabad    20.0
Name: fluctuation, dtype: float64

In [65]:
#Find the total energy usage for each city grouped by month.
import pandas as pd
df=pd.read_csv('energy_usage.csv')
df['date']=pd.to_datetime(df['date'])
df['months']=df['date'].dt.to_period('M')
df['total_energy']=df['residential_usage_kwh']+df['commercial_usage_kwh']+df['industrial_usage_kwh']
dff=df.groupby(['months','city'])['total_energy'].sum()
print(dff)

months   city
2023-01  Islamabad    1166538
         Karachi      1140410
         Lahore       1124131
         Peshawar     1119593
         Quetta       1170301
2023-02  Islamabad    1049191
         Karachi      1016408
         Lahore       1024136
         Peshawar     1046211
         Quetta       1030019
2023-03  Islamabad    1131797
         Karachi      1147880
         Lahore       1164740
         Peshawar     1182657
         Quetta       1148432
2023-04  Islamabad    1095601
         Karachi      1091869
         Lahore       1117730
         Peshawar     1117435
         Quetta       1116411
2023-05  Islamabad    1157710
         Karachi      1137922
         Lahore       1161788
         Peshawar     1146102
         Quetta       1158286
2023-06  Islamabad    1099327
         Karachi      1142603
         Lahore       1140771
         Peshawar     1095411
         Quetta       1072286
2023-07  Islamabad     688695
         Karachi       739173
         Lahore        703281
         Peshawar      694944
         Quetta        693033
Name: total_energy, dtype: int64